#map {
    position:absolute;
    top:0;
    bottom:0;
    padding:0;
    margin:0;
    width:100%;
    z-index:-1;
}

#flyButton {
    position:fixed;
    bottom: 5rem;
    padding:0;
    margin:0;
    height:4rem;
    width:100%;
    z-index:0;
}

#flyButton button{
    display:block;
    height:4rem;
    width: 20rem;
    background:#c3c3c3;

    padding: 0rem;
    margin: auto;

    border:none;
    border-radius:0.2rem;
    font-size:1.2rem;
    text-align:center;
    color:#232323;

    opacity:0.80;
    z-index: 1;
    transition:0.33s;
}

#flyButton button:hover {
    background:#ffffff;
    cursor: pointer;
}

.infoBoxBody #cityYears {
    font-size: 2.0rem;
    font-weight: 600;
    letter-spacing: .3rem;
    color: #232323;
}

.infoBoxBody #cityDescription {
    font-size: 1.5rem;
}