<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <link type="text/css" rel="stylesheet" th:href="@{/css/style.css}"/>
    <script th:src="@{/js/main.js}"></script>
    <script th:src="@{https://code.jquery.com/jquery-1.10.2.js}"></script>
    <title>Books</title>
</head>
<body>
<div class="menu">
    <ul>
        <li><a th:href="@{places}">Places</a></li>
        <li><a th:href="@{family}">Family</a></li>
        <li><a th:href="@{books}" class="active">Books</a></li>
        <li><a th:href="@{music}">Music</a></li>
        <li><a th:href="@{technology}">Technology</a></li>
    </ul>
</div>

<div class="content">
    <p>"The early bird gets the book worm..."</p>
    <p th:text="${bookID}" />

    <table id="bookTable" class="display">
        <thead>
        <tr>
            <th>Column 1</th>
            <th>Column 2</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Row 1 Data 1</td>
            <td>Row 1 Data 2</td>
        </tr>
        <tr>
            <td>Row 2 Data 1</td>
            <td>Row 2 Data 2</td>
        </tr>
        </tbody>
    </table>
</div>



</body>
</html>