<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <link th:href="@{/css/main.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{/css/toggle.css}" type="text/css" rel="stylesheet"/>
    <link th:href="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css}" type="text/css" rel="stylesheet"/>

    <script th:src="@{https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js}"></script>
    <script th:src="@{https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js}"></script>

    <title>Books</title>
</head>
<body>
<div class="menu">
    <ul>
        <li><a th:href="@{places}">places</a></li>
        <li><a th:href="@{family}">family</a></li>
        <li><a th:href="@{books}" class="active">books</a></li>
        <li><a th:href="@{music}">music</a></li>
        <li><a th:href="@{technology}">technology</a></li>
    </ul>
</div>

<div class="content">

    <div class="addBookModal">
        <button type="button" class="btn btn-default btn-sm" data-toggle="modal" data-target="#myModal">Add Book</button>
        <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add Book</h4>
                    </div>
                    <div class="modal-body">

                        <form id="add-book-form" action="#" th:action="@{/books/add}" th:object="${book}" method="post">
                            <p>ISBN # <input id="isbn13" type="text" placeholder="Enter ISBN number" th:field="*{isbn13}"/></p>
                            <p>Read Status:
                                <p><input id="readStatusTrue" th:type="radio" th:name="readStatus" th:value="1" th:checked="true"/>Read</p>
                                <p><input id="readStatusFalse" th:type="radio" th:name="readStatus" th:value="0"/>Unread</p>
                            </p>
                            <p>
                                <input id="submit-button" class="btn btn-default btn-sm" type="submit" value="Add Book"/>
                                <input id="reset-button" class="btn btn-default btn-sm" type="reset" value="Clear"/>
                            </p>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <table id="bookTable" class="table table-striped">
        <thead>
        <tr>
            <th>Book ID</th>
            <th>Book Cover</th>
            <th>Title</th>
            <th>Author</th>
            <th>Description</th>
            <th>Pages</th>
            <th>ISBN13</th>
            <th>Read Status</th>
            <th>Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="book : ${books}">
            <td th:text="${book.bookID}"></td>
            <td><img th:src="${book.coverImageURL}"/></td>
            <td th:text="${book.title}"></td>
            <td th:text="${book.authorName}"></td>
            <td th:text="${book.description}"></td>
            <td th:text="${book.pageCount}"></td>
            <td th:text="${book.isbn13}"></td>
            <td>

                <span th:if="${book.readStatus}=='true'">
                    <form action="#" th:action="@{/books/updateReadStatus}" method="post">
                        <input type="hidden" th:name="bookID" th:value="${book.bookID}"/>
                        <input type="hidden" th:name="readStatus" th:value="0"/>
                        <input type="image" th:name="submit" th:value="submit" th:src="@{/img/checkmark-flat/32x32.png}" height="16" width="16"/>
                    </form>
                </span>
                <span th:if="${book.readStatus}=='false'">
                    <form action="#" th:action="@{/books/updateReadStatus}" method="post">
                        <input type="hidden" th:name="bookID" th:value="${book.bookID}"/>
                        <input type="hidden" th:name="readStatus" th:value="1"/>
                        <input type="image" th:name="submit" th:value="submit" th:src="@{/img/checkmark-flat/32x32gray.png}" height="16" width="16"/>
                    </form>
                </span>
            </td>
            <td>
                <form id="delete-book-form" action="#" th:action="@{/books/delete}" method="post">
                    <input id="delete-book-id" type="hidden" th:name="bookID" th:value="${book.bookID}"/>
                    <button id="delete-book-button" class="btn btn-default btn-xs" type="submit">Delete</button>
                </form>
            </td>
        </tr>
        </tbody>
    </table>

</div>

<div id="footer">
    <p>harryseong.com</p>
</div>

<script th:src="@{/js/main.js}"></script>

</body>
</html>