<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet"/>
    <script th:src="@{/js/main.css}"></script>
    <script th:href="@{https://code.jquery.com/jquery-1.10.2.js}"></script>
    <script th:src="@{https://api.mapbox.com/mapbox-gl-js/v0.23.0/mapbox-gl.js}"></script>
    <link th:href="@{https://api.mapbox.com/mapbox-gl-js/v0.23.0/mapbox-gl.css}" rel="stylesheet"/>
    <meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <script th:src="@{https://api.tiles.mapbox.com/mapbox-gl-js/v0.23.0/mapbox-gl.js}"></script>
    <link th:href="@{https://api.tiles.mapbox.com/mapbox-gl-js/v0.23.0/mapbox-gl.css}" rel="stylesheet"/>

    <title>Places</title>
</head>

<body>
<div class="menu">
    <ul>
        <li><a th:href="@{places}" class="active" >Places</a></li>
        <li><a th:href="@{family}">Family</a></li>
        <li><a th:href="@{books}">Books</a></li>
        <li><a th:href="@{music}">Music</a></li>
        <li><a th:href="@{technology}">Technology</a></li>
    </ul>
</div>

<div id="map">
    <button id="fly">Fly Random</button>
    <script th:src="@{/js/map.js}"></script>
</div>

<div class="content">
    <p>"Such a lot of world to see..."</p>
    <p>"We're after the same... rainbow's end..."</p>
    <p></p>
</div>

</body>
</html>