<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <link th:href="@{/css/main.css}" type="text/css" rel="stylesheet"/>
    <script th:src="@{/js/main.js}"></script>

    <title>Technology</title>
</head>
<body>
<div class="menu">
    <ul>
        <li><a th:href="@{places}">places</a></li>
        <li><a th:href="@{family}">family</a></li>
        <li><a th:href="@{books}">books</a></li>
        <li><a th:href="@{music}">music</a></li>
        <li><a th:href="@{technology}" class="active">technology</a></li>
    </ul>
</div>

<div class="content">
    <div class="infoBoxHead">
        <h1>Technology</h1>
    </div>
    <div class="infoBoxBody">
        <p class="wordInfo">noun | tech·nol·o·gy | \tek-ˈnä-lə-jē\</p>
        <ul class="wordDefinition">
            <li>1
                a :  the practical application of knowledge especially in a particular area
                b :  a capability given by the practical application of knowledge a car's fuel-saving technology</li>
        </ul>
    </div>
</div>

<div id="footer">
    <p>harryseong.com</p>
</div>

</body>
</html>